@font-face {
  font-family: 'console-font';
  font-style: normal;
  font-weight: normal;
  src: url(../lib/press-start-font/index.woff);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: black;
  padding: 0 0.5em;
  margin: 0 0.25em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body * {
  font-family: 'console-font';
  color: yellow;
}

.container {
  height: 100vh;
}

/* flex layout */
.vbox {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.top-box {
  flex-grow: 3;
  -webkit-flex-grow: 3;
  overflow-y: auto;
  min-height: 30%;
}

.top-box.short {
  max-height: 70%;
}

.bottom-box {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-basis: 15%;
  -webkit-flex-basis: 15%;
}

.box-pack-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.li-item {
  padding: 0.4em;
}

[data-view="player"] {
  background-color: blue;
}

[data-role="audio-player"] {
  background-color: blue;
  padding: 0.5em 0.5em 0.5em 0.25em;
}

/* audio player font is white */
[data-role="audio-player"] * {
  color: white;
}

[data-role="audio-player"] p {
  margin: 0.5em;
  text-align: center;
}

h1 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.4em 0;
}

button {
  background-color: blue;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
}

.action {
  cursor: pointer;
}

.action p {
  margin: 0.2em 0;
}

.top-bar-buttons {
  padding: 0.1em 0.5em 0 0.5em;
  margin: 0.2em 0;
  font-size: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
  background-color: blue;
}

li {
  list-style-type: none;
  margin-left: -2em;
  padding: 0.6em;
  border-top: 0.1em dotted yellow;
  border-left: 0.1em dotted yellow;
  border-right: 0.1em dotted yellow;
  border-collapse: collapse;
}

li:last-child {
  border-bottom: 0.1em dotted yellow;
}

[data-track], [data-album] {
  font-size: 1em;
}

[data-active="false"] {
  display: none;
}

.small {
  font-size: 0.8em;
}

.small.overflow {
  max-height: 2.9em;
  overflow-y: auto;
}

[data-role="slider"] {
  width: 100%;
  min-height: 2em;
  border: 0.1em solid white;
  background-color: blue;
}

.slider-bar-container {
  margin: 0.2em;
  width: auto;
}

[data-role="slider-bar"] {
  background-color: white;
  min-height: 1.6em;
  width: 0;
}

/* mini slider on albums page */
[data-role="album-list"] [data-role="slider"] {
  min-height: 0.8em;
  max-height: 0.8em;
  border: 0.05em solid yellow;
  background-color: black;
}

[data-role="album-list"] [data-role="slider-bar"] {
  background-color: yellow;
  min-height: 0.6em;
}

[data-role="album-list"] .slider-bar-container {
  margin: 0.1em;
}

.audio-player-btn {
  border: 0.1em solid white !important;
  padding: 0.25em;
  width: 5em;
  height: 5em;
  font-size: 0.8em;
  text-align: center;
}

[data-highlight="true"] {
  background-color: #555;
}
