<li class="action li-item" data-view="album-brief" data-album="{id}">
  <p><strong>{prettyTitle}</strong></p>
  <p class="small">{artist}</p>

  <p>
    <div data-role="slider">
      <div class="slider-bar-container">
       <div data-role="slider-bar" style="width: {progress}%;"></div>
      </div>
    </div>
  </p>
</li>
