<div data-role="audio-player" class="box-pack-end">
  <audio mozaudiochannel="content"></audio>

  <div data-role="slider">
    <div class="slider-bar-container">
      <div data-role="slider-bar"></div>
    </div>
  </div>

  <p class="small">
    <span data-role="currentTime"></span>&nbsp;/&nbsp;<span data-role="duration"></span>
  </p>

  <p class="small overflow">
    <span data-role="track-title">{tracknum}. {prettyTitle}</span>
  </p>

  <p>
    <button class="audio-player-btn" data-role="playPause"></button>
    <button class="audio-player-btn" data-role="skip" data-skip-by="-30">-30</button>
    <button class="audio-player-btn" data-role="skip" data-skip-by="30">+30</button>
    <button class="audio-player-btn" data-role="goAlbum">@A</button>
  </p>
</div>
